.babyName{
  display: inline-block;
  padding: 10px;
  margin: 10px;
  border: none;
  font-weight: 600;
  border-radius: 10px;
  background-color: pink;
}
.babyNameCollections{
  border: solid 5px purple;
  border-radius: 10px;
  margin: 50px 60px;
}
.nameList{
  padding: 20px 20px;
}
.boyBabyName{
  display: inline-block;
  font-weight: 600;
  padding: 10px;
  margin: 10px;
  border: none;
  border-radius: 10px;
  background-color: skyblue;
  }
  .search{
  padding: 10px;
  margin-left: 600px;
  margin-top: 30px;
  font-size: 1rem;
  border: 1px solid #888888;
  border-radius: 10px;
  box-shadow: 5px 5px 5px #888888;
  }
  